@font-face {
    font-family: Vazir;
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Bold.eot');
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Bold.woff2') format('woff2'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Bold.woff') format('woff'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Light.eot');
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Light.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Medium.eot');
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Medium.woff2') format('woff2'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Medium.woff') format('woff'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Thin.eot');
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Thin.woff2') format('woff2'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Thin.woff') format('woff'),
    url('/public/fonts/vendor/vazir-dist/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Black.eot');
    src: url('/public/fonts/vendor/vazir-dist/Vazir-Black.eot?#iefix') format('embedded-opentype');
    font-weight: 900;
}

* {
    direction: rtl !important;
}

body {
    font-family: 'Vazir', sans-serif !important;
}

.layout-fixed .main-sidebar {
    right: 0;
}

.brand-image {
    float: right;
}

.content-wrapper, .main-footer, .main-header {
    margin-left: 0px;
    margin-right: 250px;
}

.mr-auto-navbav {
    margin-right: auto !important;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

[class*=icheck-] > input:first-child:checked + input[type=hidden] + label::after,
[class*=icheck-] > input:first-child:checked + label::after {
    right: 15px;
    left: auto;
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
    left: 1rem;
    right: auto;
}

.nav-sidebar .nav-link > .right:nth-child(2),
.nav-sidebar .nav-link > p > .right:nth-child(2) {
    left: 2.2rem;
    right: auto;
}

.small-box .icon > i {
    left: 15px;
    right: auto;
}

.scroll-modal {
    overflow-y: scroll !important;
    max-height: 600px;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem !important;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 767.98px) {
    .main-sidebar, .main-sidebar::before {
        box-shadow: none !important;
        margin-right: -250px;
    }

    .content-wrapper, .content-wrapper::before, .main-footer, .main-footer::before, .main-header, .main-header::before {
        margin-right: 0;
    }

    .sidebar-open .main-sidebar, .sidebar-open .main-sidebar::before {
        margin-right: 0;
    }
}
