
.button-1 {
    border: 2px solid $primary-color;
    color: $primary-color;
    border-radius: 20px;
    font-size: 14px;
    padding: 3px 15px;
    transition: .2s;
    background: none;
    

    &:focus {
        outline: none;
    }

    &:hover {
        color: $white-color;
        background: $primary-color;
    }
}

