.header {
  background: url(../images/intro-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center bottom;

  &__top {
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-items: center;

    &_logo {
      img {
        width: 100px;
        height: 80px;
      }
    }
  }

  &__title {
    font-family: nastaliq;

    h1 {
      color: $primary-color-dark2;
      font-size: 90px;
      text-align: center;
    }
  }

  &__nav {
    &_items {
      display: flex;
      justify-content: flex-end;

      li {
        position: relative;

        a {
          color: $white-color;
          padding: 5px 10px;
          display: block;
          font-size: 14px;

          &:hover {
            opacity: 0.7;
          }
        }

        &::after {
          content: "";
          width: 1px;
          height: 12px;
          background: $white-color;
          position: absolute;
          left: 0;
          top: 10px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
  }

  &__form {
    &_search {
      margin-top: 100px;
      background: $white-color;
      border-radius: 30px;
      max-width: 555px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      height: 45px;
      position: relative;

      &__select {
        padding: 0 10px;
        width: 211px;
        border: none;
        background: $white-color;
        border-radius: 20px;
        margin: 5px;
        box-shadow: 0 0 5px 0 #ccc;
        color: #aaa;

        &:focus {
          outline: none;
        }
      }

      &__input {
        padding: 0 10px;
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      &__btn {
        padding: 0 14px;
        background: $white-color;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        display: flex;
        align-items: center;

        &:focus {
          outline: none;
        }

        svg {
          font-size: 21px;
          color: #aaa;
        }
      }

      &__advance-search {
        position: absolute;
        left: 0;
        top: 120%;
        color: #05a3e8;
        font-size: 15px;
      }

      ::placeholder {
        color: #aaa;
        opacity: 1; /* Firefox */
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #aaa;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #aaa;
      }

      &:focus {
        outline: none;
      }
    }

    &_grid {
      display: flex;
      width: 100%;
    }
  }

  &__cat {
    width: 100%;

    &_items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &_item {
      a {
        background: $btn-back-1;
        color: $white-color;
        padding: 5px 14px;
        border-radius: 20px;
        margin: 5px;
        transition: all 0.3s;
        display: block;
        font-size: 20px;
        min-width: 147px;
        text-align: center;

        &:hover {
          background: $btn-back-2;
        }
      }
    }
  }

  &__hr {
    box-shadow: 0 0 4px 0px #237957;
    background: #237957;
    // border: solid 1px #237957;
    height: 1px;
  }
}

.head-main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &__title {
    font-size: 24px;
    color: #237957;
    margin-bottom: 10px;
    font-weight: 600;
  }

  span {
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0px #237957;
    border: solid 1px #237957;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    svg {
      color: #237957;
      font-size: 25px;
      line-height: 0;
    }
  }

  &::before {
    content: "";
    box-shadow: 0 0 4px 0px #237957;
    background: #237957;
    // border: solid 1px #237957;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: -1;
  }
}
