@media (max-width: 992px) {
  .header__logo1 {
    display: none;
  }

  .header__form {
    width: 100%;
    margin-bottom: 53px;
  }

  .order_lg_1 {
    order: 1 !important;
  }

  
  .side__user-info_img {
    border-radius: 50%;
    max-width: 170px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .main-section {
    padding: 0;
    &::before,
    &::after {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header__form {
    margin-top: 30px;
  }

  .header__title h1 {
    font-size: 46px;
    line-height: 90px;
  }

  .header-user__form {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .header__form {
    &_search {
      flex-direction: column;
      height: auto;

      &__select {
        height: 35px;
        width: 95%;
        margin: 8px 12px;
      }

      &__input {
        height: 40px;
        border-radius: 30px;
      }
    }
  }

  .header-user__form_box {
    width: 100%;
  }

  .modal-auth .modal-content {
    padding: 40px 20px;
  }

  .user-page .tab-content {
    padding: 20px 0px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
}
