.side {
  &__user-info {
    margin-top: 30px;

    &_img {
      border-radius: 50%;
      max-width: 100%;
      border: solid 3px $primary-color-dark2;
      margin-bottom: 20px;
      margin: 20px auto;
    }

    &_img2 {
      max-width: 100%;
      border: solid 1px #237957;
      box-shadow: 0 0 5px -1px #237957;
      margin-bottom: 20px;
      margin: 20px auto;
      padding: 20px;
    }


    &_title {
      font-size: 20px;
      text-align: center;
      font-weight: 600;
      color: $primary-color-dark2;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: 600;
      color: $primary-color-dark2;
    }

    h4 {
      margin-bottom: 20px;
      color: $primary-color-dark2;
      font-size: 17px;
    }

    div {
      margin-bottom: 10px;
      h4 {
        color: $primary-color-dark2;
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 600;
      }

      h5 {
        color: $primary-color-dark2;
        font-size: 16px;
        margin-bottom: 8px;
      }
    }
  }

  &__options {
    margin-top: 30px;

    &_head {
      position: relative;

      &__num {
        position: absolute;
        top: 0;
        left: 0;
        background: #125231;
        padding: 2px 10px;
        color: #fff;
        border-radius: 10px;
        line-height: 18px;
        font-size: 14px;
      }
    }

    &_title {
      border-bottom: 1px;
      position: relative;
      padding-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
      color: $primary-color;
      margin-bottom: 20px;

      &::before {
        content: "";
        box-shadow: 0 0 4px 0px #237957;
        background: #237957;
        // border: solid 1px #237957;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
      }
    }

    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_image {
        box-shadow: 0 0 4px 0px #237957;
        // background: #237957;
        border: 1px solid #237957;
        margin-bottom: 20px;
        display: block;
      }

      margin-bottom: 10px;
      h5 {
        font-size: 14px;
        font-weight: 600;

        a {
          color: $primary-color-dark2;
        }
      }

      span {
        background: $primary-color-dark2;
        padding: 2px 10px;
        color: $white-color;
        border-radius: 10px;
        line-height: 18px;
        font-size: 14px;
      }
    }

    &_get-all {
      display: block;
      width: 100%;
      text-align: center;
      border: solid 1px $primary-color-dark2;
      box-shadow: 0 0 4px 0px $primary-color;
      padding: 8px;
      margin-top: 30px;
      color: $primary-color-dark2;
    }
  }
}

.article-side .side__user-info div h5 {
  font-weight: 600;
}

.article-side .side__user-info div h4 {
  font-size: 15px;
  font-weight: 400;
}

.accordion-side {
  color: $primary-color-dark2 !important;
  .accordion-button {
    background: none;
    border: none;
    padding: 5px 0;
    font-size: 14px;
    color: $primary-color-dark2 !important;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .accordion-body {
    padding: 10px 0;

    ul li a {
      color: $primary-color-dark2;
      font-size: 13px;
      padding: 5px 0;
    }
  }

  .accordion-collapse {
    border: none;
    border-width: 0;
    
  }

  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: auto;
    margin-left: 0;
    // background-color: $primary-color-dark2;
    padding: 2px 10px;
    color: $white-color !important;
    border-radius: 10px;
    line-height: 18px;
    font-size: 14px;
  }
}
