
.text-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;

    &__label {
        color: $primary-color;
        font-size: 16px;
        padding-bottom: 4px;
    }

    &__grid {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        padding: 5px 10px;
        border: solid 1px $primary-color;
        border-radius: 4px;
        background: $white-color;
        height: 38px;
        width: 100%;

        &:focus {
            outline: none;
            background: rgba(rgb(238, 238, 238), 0.5);
        }
    }

    &__textarea {
        padding: 5px 10px;
        border: solid 1px $primary-color;
        border-radius: 4px;
        background: $white-color;

        &:focus {
            outline: none;
            background: rgba(rgb(238, 238, 238), 0.5);
        }
    }

    &__btns {

        button {
            background: $primary-color;
            color: $white-color;
            padding: 4px;
            line-height: 0;
            border: solid 1px $primary-color;
            border-radius: 20px;

            svg {
                font-size: 12px;
            }

            &:hover {
                background: none;
                border: solid 1px $primary-color;
                color: $primary-color;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
